<?php $allnews = $this->getAllNews();?>
<?php if ($allnews->count()): ?>
    <ul>
        <?php
        foreach($allnews as $news){
            echo '<li><h1><a href="' . Mage::getUrl('test/read/news', array('id' => $news->getId())) . '">' . $news->getTitle() . "</a></h1>";
            echo $news->getContent() . "<br>";
            echo 'Author is: ' . $news->getAuthor() . "<br>";
            echo 'Category is: ' . $news->getCategory();?>
            <?php if($this->isDateCreatedEnabled()) : ?>
                <div>
                    <i>Data Created: <?php echo $news->getDateCreated(); ?></i>
                </div><br>
            <?php endif;?>
            </li>
        <?php
        }
        ?>
    </ul><br>
    <div>
        <?php for($i=1; $i<=$allnews->getLastPageNumber(); $i++) {
            if ($i === $allnews->getCurPage()) {
                echo $i . ' ';
            } else {
                echo '<a href="' . Mage::getUrl('test/read/allnews', array('page'=> $i)) . '">' . $i . '</a> ';

            }
        }
        ?>
    </div>
<?php else : ?>
    <h1>This news is not exist</h1>
<?php endif; ?>
