<?php $newsId = $this->getRequest()->getParam('id'); ?>
<?php if ($newsId !== NULL ):?>
    <?php if ($this->getNewsTitle()): ?>
        <h1><?php echo $this->getNewsTitle(); ?></h1>
        <p>
            <?php echo $this->getNewsContent(); ?><br>
        </p>
        <?php echo 'Author is: ' . $this->getModel()->getAuthor() . "<br>";?>
        <?php echo 'Category is: ' . $this->getModel()->getCategory();?>
        <?php if($this->isDateCreatedEnabled()) : ?>
            <div>
                <i>Data Created: <?php echo $this->getNewsDateCreated(); ?></i>
            </div>
        <?php endif;?>
    <?php else : ?>
        <h1>This news is not exist</h1>
    <?php endif; ?>
<?php else: ?>
    <h1>Please, enter newsId!</h1>
<?php endif;?>